body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
}

.container {
  padding: 3em;
  display: grid;
  grid-gap: 2em;
}
.grid-item2#blur.active {
  filter: blur(10px);
  pointer-events: none;
  user-select: none;
}
.exitbtn-forgotpass {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  top: 5px;
  width: 150px;
  border: none;
  padding: 15px;
  right: 140px;
  text-decoration: none;
  background-color: rgb(255, 78, 78);
  color: white;
  border-radius: 2em;
}

.exitbtn-forgotpass:hover {
  opacity: 0.8;
}



input[type="email"],
input[type="text"] {
  font-family: "Montserrat", sans-serif;
  width: 30rem;
  height: 3rem;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  background-color: antiquewhite;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 10px 0px 10px 0px;
}
input {
  font-family: "Montserrat", sans-serif;
  width: 30rem;
  height: 3rem;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  background-color: antiquewhite;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 10px 0px 10px 0px;
}

h1 {
  font-size: 50px;
}

.material-symbols-rounded {
  font-size: 50px !important;
  width: 100px;
  position: relative;
  bottom: 500px;
}

.translate {
  font-size: 20px;
  top: 50px;
  color: black;
  position: absolute;
  bottom: 700px;
}

.help {
  float: right;
  position: relative;
  bottom: 570px;
}

#popup {
  position: fixed;
  background-color: rgb(249, 194, 123);
  border-radius: 2em;
  padding: 30px;
  width: 500px;
  border: 2px solid black;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5 20px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

#popup button {
  position: relative;
  left: 0;
}

.container#blur.active {
  filter: blur(10px);
}

#popup.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
}

.login-button {
  margin: 10px 0;
}
