body{
    font-family:'Montserrat', sans-serif ;
    text-align: center;
    margin: 0;
    height: 100%;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 20px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(221, 148, 53);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(228, 142, 31);
}



h1{
    margin: 60px 0;
}

#container{
    align-items: center;
    width: 100vh ;
    display: grid;
    padding: 80px 0;
    margin: 0 60vh;
    grid-template-columns: auto auto;
    grid-gap: 40px 300px;
}

#container.active{
  filter: blur(10px);
}
#blur.active{
  filter: blur(10px);
}
#blur2.active{
  filter: blur(10px);
}
#container div{
  margin: 0;
  text-align: left;
}

.image-block{
  position: relative;
  width: 250px;
  height: 250px;
  background-color: rgb(216, 214, 214);
  bottom: 60vh;
  left: 15vh;
  border-radius: 2em;
  box-shadow: 2px 2px 1px gray ;
}
.image-block2-prf{
  position: relative;
  left:1450px;
  text-align: center;
  padding: 5px 0;
  width: 350px;
  height: 200px;
  background-color: rgb(216, 214, 214);
  border-radius: 2em;
  box-shadow: 2px 2px 1px gray ;
  overflow-y: scroll;
}


.contact{
  height: 100%;
  background-color: rgb(216, 214, 214);
  padding: 3px 20px;
  border-radius: 8px;
}

a{
  color: #000;
}
.exitbutton{
  position: fixed;
  bottom: 6%;
  left: 2%;

}

.savebtn-prf{
  position: absolute;
  top: 900px;
  left: 1500px;
  margin: 0 30px 0 0;
  width: 100px;
  height: 50px;
  border-radius: 40px;
  background-color: rgb(93, 243, 93);
  transition: 0.3s ease;
}
.savebtn-prf:hover{
  width: 120px;
}

.delbtn{
  position: absolute;
  top: 900px;
  left: 1700px;
  width: 100px;
  height: 50px;
  border-radius: 40px;
  background-color: rgb(255, 75, 69);
  transition: 0.3s ease;
}


.delbtn:hover{
  width: 120px;
}

#popup-save{
  background-color: #8de76d;
  width: 40%;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
  border-radius: 2rem;
  padding: 0 0 40px 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s ease;
}
#popup-save.active{
  visibility: visible;
  opacity: 1;
  top: 50%;
}
a{
  text-decoration: none;
  color: #000;
}

/* Media queries */

@media screen and (max-width:1536px){
  .image-block2{
    position: relative;
    bottom: 47vh;
    left: 1200px;
    height: 125px;
    width: 250px;
  }
  .savebtn{
    position: absolute;
    top: 725px;
    left: 1250px;
  }
  .delbtn{
    position: absolute;
    top: 725px;
    left: 1400px;
  }
}

.plus-sign{
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.exitbutton{
  border-radius:100%;
  background-color: rgb(245, 166, 88);
  width: 50px;
  height: 50px;
}