.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 0px;
  padding: 0px;
  width: 1100px;
  height: 600px;
  max-height: 600px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  box-shadow: 5px 5px 15px #b6b6b6;
  overflow-y: auto;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 40px;
}

.grid-container > div {
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
  padding: 15px;
  margin: left;
  height: 5rem;
}

body {
  height: 100%;
  margin: 0;
  margin-top: 30px;
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.rounded-corner1 {
  border-radius: 30px 0 0 0;
}
.rounded-corner2 {
  border-radius: 0px 30px 0 0;
}
.rounded-corner3 {
  border-radius: 0px 0 0px 30px;
}
.rounded-corner4 {
  border-radius: 00px 0 30px 0px;
}
.green-colour {
  background-color: #5bdf35;
}
.orange-colour {
  background-color: #f6a62f;
}
.red-colour {
  background-color: #f33b3b;
}

.adding-removing {
  position: relative;
  white-space: nowrap;
  left: 660px;
}
.adding-icon,
.minus-icon {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 50px;
  height: 50px;
  background-color: #ebc386;
  transition: 0.5s ease;
  border-radius: 100%;
}

.minus-icon {
  display: inline-block;
}
.adding-icon:hover,
.minus-icon:hover {
  cursor: pointer;
  opacity: 0.9;
  width: 60px;
  height: 60px;
}

.edit:hover {
  cursor: pointer;
  opacity: 0.5;
}

.menu {
  background-color: #ebc386;
  float: left;
  position: absolute;
  top: 30px;
  left: 40px;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(240, 132, 30);
  border-radius: 10px;
}

.sidenav {
  text-align: left;
  height: 100%; /* 100% Full-height */
  width: 200px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #fcb500;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px; /* Place content 60px from the top */
  transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
  right: 400px;
  top: 100%;
  opacity: 1;
}

/* The navigation menu links */
.sidenav a {
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}

.menumain a {
  display: block;
  font-size: 80px;
  padding: 5px 8px 8px 50px;
}
.menusub {
  white-space: none;
}
.menusub a {
  display: inline-block;
  font-size: 30px;
  padding: 20px 8px 8px 40px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

i:hover {
  cursor: pointer;
}

.menumain a {
  position: relative;
}

.menumain a:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: rgb(94, 93, 93);
  color: white;
  font-size: 20px;
  text-align: center;
  border: 1px;
  border-radius: 5px;
  padding: 5px 1px;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 15px;
  top: 110%;
}

.menumain a:hover:before {
  opacity: 1;
  visibility: visible;
}

.sidenav.active {
  text-align: left;
  height: 100%; /* 100% Full-height */
  width: 200; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #fcb500;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px; /* Place content 60px from the top */
  transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
  visibility: visible;
  opacity: 1;
  left: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

#menuicon {
  position: fixed;
  top: 40px;
  left: 40px;
  transition: 0.3s;
}

#menuicon.active {
  position: fixed;
  top: 40px;
  left: 230px;
}

.contact {
  padding: 30px 10px;
  display: grid;
  position: fixed;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  background-color: #ebc386;
  width: 900px;
  height: 300px;
  border-radius: 2em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5fr 1fr 1fr;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
}
.small-head {
  margin: 5px 20px;
  text-align: left;
}
.info {
  height: 2em;
  width: 14em;
  border-radius: 20px;
  background-color: #b6b6b6;
  text-align: left;
  margin: 5px 20px;
  padding: 10px 10px;
}

.head {
  margin: 5px 20px;
  text-align: left;
}

#blur.active {
  filter: blur(10px);
}

.contact {
  padding: 30px 10px;
  display: grid;
  position: fixed;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  background-color: #ebc386;
  width: 900px;
  height: 300px;
  border-radius: 2em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5fr 1fr 1fr;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.contact.active {
  visibility: visible;
  opacity: 1;
  top: 50%;
}
.close-btn {
  transition: 0.3s;
  top: 90%;
  left: 97%;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  position: fixed;
}
.close-btn:hover {
  cursor: pointer;
  width: 70px;
  height: 70px;
  opacity: 1;
}
a {
  text-decoration: none;
  color: #000;
}

#popup-color {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vh;
  height: 40vh;
  background-image: linear-gradient(180deg, #e0e0e0, #b8b8b8);
  border-radius: 30px;
  transition: 0.4s;
  box-shadow: 4px 4px 10px gray;
  visibility: hidden;
  opacity: 0;
}

#popup-color.active {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vh;
  height: 40vh;
  background-image: linear-gradient(180deg, #e0e0e0, #b8b8b8);
  border-radius: 30px;
  transition: 0.4s;
  box-shadow: 4px 4px 10px gray;
  visibility: visible;
  opacity: 1;
}

.orange {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: #f4b157;
  border-radius: 100%;
  transition: 0.4s;
}
.green {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: #60f126;
  border-radius: 100%;
  transition: 0.4s;
}
.red {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: #f64f33;
  border-radius: 100%;
  transition: 0.4s;
}

.red:hover {
  width: 70px;
  height: 70px;
  cursor: pointer;
}
.green:hover {
  width: 70px;
  height: 70px;
  cursor: pointer;
}
.orange:hover {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

#popup-add {
  display: grid;
  grid-template-columns: 2fr 0.7fr;
  margin: 0;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #b6b6b6;
  width: 50%;
  text-align: left;
  padding: 2%;
  border-radius: 2em;
  box-shadow: 2px 2px 10px #000;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease;
}
#popup-add.active {
  visibility: visible;
  opacity: 1;
  top: 50%;
}
#popup-add h1 {
  margin: 0;
  background-color: #e0e0e0;
  width: 30%;
  padding: 10px;
  border-radius: 16px;
}

.attendance {
  white-space: nowrap;
}
.attendance > h3 {
  display: inline-block;
}

.box2 {
  padding: 10px;
  position: fixed;
  top: 80px;
  left: 160px;
  width: 2em;
  height: 1.5em;
  background-color: #e0e0e0;
  border-radius: 8px;
}

.progress-tr {
  white-space: nowrap;
}

.progress-tr h3 {
  display: inline-block;
}
.small-circles {
  position: fixed;
  top: 140px;
}

.green-s {
  position: fixed;
  left: 180px;
  margin: 20px;
  background-color: rgb(74, 226, 14);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  transition: 0.5s ease;
  top: 230px;
}

.orange-s {
  position: fixed;
  left: 300px;
  margin: 20px;
  background-color: rgb(228, 49, 49);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  transition: 0.5s ease;
  top: 230px;
}

.red-s {
  position: fixed;
  left: 240px;
  margin: 20px;
  background-color: rgb(245, 171, 34);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  transition: 0.5s ease;
  top: 230px;
}

.green-s:hover {
  width: 35px;
  height: 35px;
  opacity: 0.8;
}

.orange-s:hover {
  width: 35px;
  height: 35px;
  opacity: 0.8;
}

.red-s:hover {
  width: 35px;
  height: 35px;
  opacity: 0.8;
}

input {
  border: none;
  margin: 20px 0;
  width: 40%;
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 9px;
}

.contact-a {
  padding: 10px;
  width: 40%;
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 0;
}

.contact-p {
  width: 40%;
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 0;
}

.box2:hover {
  cursor: pointer;
}

.rightside {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 3fr;
}

.biobox {
  font-size: 15px;
  background-color: #e0e0e0;
  width: 100%;
  height: 60%;
  border-radius: 20px;
  padding: 10px;
}

.savebtn {
  position: absolute;
  background-color: #5bdf35;
  height: 3em;
  border-radius: 20px;
  width: 20%;
  left: 80%;
  top: 105%;
}

.savebtn:hover {
  opacity: 0.9;
  width: 22%;
  height: 3em;
}

/* media queries */
@media only screen and (min-width:1536px){
  .grid-container{
      bottom: 200px;
      left: 5%;
  }
}